<html>
<title>Detete</title>
<body>
	<h4>Deleted successfully..</h4>
	<a  href="/"><button class="home">Back TO Home</button></a>
	<style>
	.home{
				position: absolute;
	    		margin-left: 70rem;
	            background-color: #FFB6C1;
	    		color: red;
	            font-size: 20px;
	            width: 15%;
	            height: 40px;
	    	}
	</style>
</body>
</html>