<html>
<title>updated data</title>
<body>
<a  href="/"><button class="home">Back TO Home</button></a>
<h2>Update Successfully..</h2>
	<style>
	    .home{
			position: absolute;
    		margin-left: 70rem;
            background-color: #FFB6C1;
    		color: red;
            font-size: 20px;
            width: 15%;
            height: 40px;
    	}
    	</style>
</body>
</html>